<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @space.address %>
</p>

<p>
  <strong>User:</strong>
  <%= @space.user.name %>
</p>

<p>List of schedules:</p>
<ul>
	<% @space.schedules.each do |schedule| %>
		<li><%= schedule.day_of_week %> (<%= schedule.start_time %> - <%= schedule.end_time %>)</li>
	<% end %>
</ul>

<table class="table table-bordered table-responsive">
	<tr>
<% @days_of_week.each do |day_of_week| %>
	<th width="150px"><%= day_of_week %></th>
<% end %>
	</tr>
	<tr>
		<% @dates_of_week_1.each do |date| %>
			<td style="text-align:center;" class="<%= 'past-date' if date < Date.today %>"><%= date.strftime('%d %b %y') %></td>

		<% end %>
	</tr>
	<tr>
		<% @dates_of_week_1.each_with_index do |date, index| %>
			<td>
				<% if date >= Date.today %>
					
					<% @space.schedules.where('day_of_week = ?', date.wday).each do |schedule| %>
						<a href="#" class="btn btn-success btn-block"><%= schedule.start_time + ' - ' + schedule.end_time %></li>

					<% end %>
					
				<% end %>
		<% end %>
	</tr>
	<tr>
		<% @dates_of_week_1.each do |date| %>
			<td style="text-align:center;" class=""><%= (date + 7).strftime('%d %b %y') %></td>

		<% end %>
	</tr>
	<tr>
		<% @dates_of_week_1.each_with_index do |date, index| %>
			<td>
				<% @space.schedules.where('day_of_week = ?', date.wday).each do |schedule| %>
						
						<%= link_to schedule.start_time + ' - ' + schedule.end_time, add_booking_to_space_path(date: date), class: 'btn btn-success btn-block' %>
					<% end %>
		<% end %>

	</tr>
</table>
<br>
<ul>
<% @space.bookings.each do |booking| %>
	<li><%= booking_details(booking) %></li>
<% end %>
</ul>

<hr>
<%= link_to 'Edit', edit_space_path(@space) %> |
<%= link_to 'Back', spaces_path %>
