<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.text_field :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br>
    <%= f.text_field :end_time %>
  </div>
  <div class="field">
    <%= f.label :space_id %><br>
    <%= f.text_field :space_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>

  <% if @block %>
    <%= f.input :self_booking, checked_value: true %>
  <% end %>



User clicks a button
  Creates a self booking for the space

  add_self_booking_path(space: @space.id, date: date, start_time: time1, end_time: time2)

  resources :bookings do
    member do
      get add_self
    end
  end

  def add_self
    @space = Space.find(params[:space])
    @date = params[:date].to_date
    @start_time = params[:time].to_time
    @booking = Booking.new(space_id: Space.find(params[:space]), date: params[:date].to_date, self_booking: true)
    @booking.save






  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
